body{
  font: 20px Arial,sans-serif;
}
.navbar{
  background-color: #0000FF;
}
.quem-somos{
  background-color: #ADD8E6;
  color: #0000FF;
}
.margin{
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros{
  background-color: grey;
  color: white;
}

.bg-footer{
  background-color: grey;
  color: whites;
}